body{
    text-align: center;
}
h1,h2{
    margin: 30px;
}
.link{
    margin-top: 40px;
}
.btn{
    margin: 8px;
}
.btn.btn-info{
    margin: 8px;
}
.table.table-bordered.border-primary{
    margin: auto;
    width: 60%;
}


#float_edit{
    align-items: center;
    justify-content: center;
    display: flex;
}

.table.table-bordered.border-primary.home{
    margin: auto;
    width: 90%;
}
.container {
    display: flex;
    align-items: center;
    margin: 30px;
}
.home-title {
    margin: auto 
}
.btn-info.home {
    margin-left: 40px; /* ボタンとh2の間に余白を設ける */
}

